---
import Page from "../layouts/Page.astro";
import { ProjectCard } from "../components/ProjectCard";
import { DoubleArrowRightIcon } from "@radix-ui/react-icons";
import { getCollection } from "astro:content";
import { PublishDate } from "../components/PublishDate";

const articles = await getCollection("articles");
articles.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Page
  title="👋"
  description={"Your one stop shop for all your dotboris related needs. " +
    "Whatever that means 🤷."}
>
  <h1>Hello World!</h1>
  <p>
    👋 Hello there! My name is Boris and it looks like you've found yourself on
    my website. Welcome! This is my humble abode on the internet. This is where
    I share thoughts, ideas, projects and anything that might suit my fancy.
  </p>

  <h2 id="projects">Projects</h2>
  <div
    class="not-prose my-4 grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-4"
  >
    <ProjectCard
      title="Prod Guard"
      description="Browser extension that lets you know when you're connected to production by giving you a clear visual warning."
      githubOwner="dotboris"
      githubSlug="prod-guard"
      tech="typescript"
    />
    <ProjectCard
      title="cdo"
      description="Small command to run other commands in a given directory."
      githubOwner="dotboris"
      githubSlug="cdo"
      tech="rust"
    />
    <ProjectCard
      title="Alt"
      description="Simple version manager tool for switching between different versions of commands."
      githubOwner="dotboris"
      githubSlug="alt"
      tech="rust"
    />
    <ProjectCard
      title="Standard Backups"
      description="Generic and pluggable backup orchestration system that works across backup tools. Currently in early development."
      githubOwner="dotboris"
      githubSlug="standard-backups"
      tech="go"
    />
    <ProjectCard
      title="Homelab"
      description="My personal home server where I host a bunch of services that are useful to me. Powered by NixOS."
      githubOwner="dotboris"
      githubSlug="homelab"
      tech="nix"
    />
    <ProjectCard
      title="Config"
      description="Nix configuration for my personal computers (NixOS) and user environments (Home Manager)."
      githubOwner="dotboris"
      githubSlug="homelab"
      tech="nix"
    />
  </div>

  <h2 id="articles">Articles</h2>
  {
    articles.map((article) => (
      <article>
        <header>
          <h3 class="mb-0">{article.data.title}</h3>
          <PublishDate className="m-0" date={article.data.pubDate} />
        </header>
        <p>{article.data.description}</p>
        <p>
          <a class="no-underline" href={`/articles/${article.slug}/`}>
            <span class="underline">Continue reading</span>
            <DoubleArrowRightIcon className="inline-block" />
          </a>
        </p>
      </article>
    ))
  }
</Page>
