---
import Layout from "../layouts/Layout.astro";
---

<Layout title="👋">
  <h1>Hello World!</h1>
  <p>
    👋 Hello there! My name is Boris and it looks like you've found yourself on
    my website. Welcome! This is my humble abode on the internet. This is where
    I share thoughts, ideas, projects and anything that might suite my fancy.
  </p>

  <h2>Projects</h2>
  TODO projects...

  <h2>Articles</h2>
  TODO articles...
</Layout>
