---
import { ProjectCard } from "../components/ProjectCard";
import Layout from "../layouts/Layout.astro";
---

<Layout title="👋">
  <h1>Hello World!</h1>
  <p>
    👋 Hello there! My name is Boris and it looks like you've found yourself on
    my website. Welcome! This is my humble abode on the internet. This is where
    I share thoughts, ideas, projects and anything that might suite my fancy.
  </p>

  <h2>Projects</h2>
  <div
    class="auto my-4 grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-4"
  >
    <ProjectCard
      title="Prod Guard"
      description="Browser extension that lets you know when you're connected to production by giving you a clear visual warning."
      githubOwner="dotboris"
      githubSlug="prod-guard"
    />
    <ProjectCard
      title="cdo"
      description="Small command to run other commands in a given directory."
      githubOwner="dotboris"
      githubSlug="cdo"
    />
    <ProjectCard
      title="Alt"
      description="Simple version manager tool for switching between different versions of commands."
      githubOwner="dotboris"
      githubSlug="alt"
    />
  </div>

  <h2>Articles</h2>
  TODO articles...
</Layout>
