---
import "./base.css";
const { title } = Astro.props;
---

<html lang="en" class="bg-white font-sans text-base text-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - dotboris.io</title>
  </head>
  <body>
    <div class="min-h-8 border-b-4 border-b-rose-300 bg-neutral-800 text-white">
    </div>
    <main class="container mx-auto px-4">
      <slot />
    </main>
  </body>
</html>
