---
import "./base.css";
import { Image } from "astro:assets";
import avatarImage from "../assets/avatar.png";
import { GitHubLogoIcon } from "@radix-ui/react-icons";
const { title, frontmatter } = Astro.props;
---

<html lang="en" class="bg-white font-sans text-base text-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? frontmatter.title} - dotboris.io</title>
  </head>
  <body>
    <div class="border-b-4 border-b-rose-300 bg-neutral-800 font-semibold">
      <nav
        class="container mx-auto flex justify-between px-4 pb-4 pt-8"
      >
        <div class="flex items-center gap-6">
          <Image
            class="rounded-full"
            width={50}
            height={50}
            src={avatarImage}
            alt="dotboris' avatar. A yellow anime duck with its mouth open"
          />
          <a class="text-lg text-white hover:text-rose-300" href="/">Home</a>
        </div>
        <div class="flex items-center">
          <a
            class="text-white hover:text-rose-300"
            href="https://github.com/dotboris"
            aria-label="dotboris on GitHub"
            title="dotboris on GitHub"
          >
            <GitHubLogoIcon className="size-8" />
          </a>
        </div>
      </nav>
    </div>
    <div class="container mx-auto px-4 pt-14">
      <main class="prose prose-a:text-blue-600 max-w-none">
        <slot />
      </main>
    </div>
  </body>
</html>
