---
import "./base.css";
import { Image } from "astro:assets";
import avatarImage from "../assets/avatar.png";
import { GitHubLogoIcon } from "@radix-ui/react-icons";

interface Props {
  title: string;
  description: string;
  children: unknown;
}
const { title, description } = Astro.props;
---

<html lang="en" class="bg-white font-sans text-base text-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <title>{title} - dotboris.io</title>
    <meta name="description" content={description} />
  </head>
  <body class="flex min-h-screen flex-col">
    <header class="border-b-4 border-b-rose-300 bg-neutral-800 font-semibold">
      <div
        class="container mx-auto grid grid-cols-[auto_1fr_auto] items-center gap-4 p-4"
      >
        <Image
          class="rounded-full"
          width={50}
          height={50}
          src={avatarImage}
          alt="dotboris' avatar. A yellow anime duck with its mouth open"
        />
        <nav>
          <ul>
            <li>
              <a class="py-4 text-lg text-white hover:text-rose-300" href="/">
                Home
              </a>
            </li>
          </ul>
        </nav>
        <a
          class="text-white hover:text-rose-300"
          href="https://github.com/dotboris"
          aria-label="dotboris on GitHub"
          title="dotboris on GitHub"
        >
          <GitHubLogoIcon className="size-8" />
        </a>
      </div>
    </header>
    <div class="container mx-auto">
      <main class="prose max-w-none px-4 py-8 prose-a:text-blue-600">
        <slot />
      </main>
    </div>
    <footer
      class="mt-auto border-t-4 border-t-rose-300 bg-neutral-800 p-4 text-center text-neutral-400"
    >
      &copy; {new Date().getFullYear()} Boris Bera
    </footer>
  </body>
</html>
